In [2]:
#Inportar las librerias
import pandas as pd
import numpy as np

In [75]:
#pd.set_option('max_colmns',n,'max_rows',m)
movies=pd.read_csv('movie.csv')
n=5;m=5 
pd.set_option('max_columns',n,'max_rows',m) #máximo de columnas y filas a mostrar
movies.head() #Da una muestra del data frame m

   color      director_name  ...  aspect_ratio  movie_facebook_likes
0  Color      James Cameron  ...          1.78                 33000
1  Color     Gore Verbinski  ...          2.35                     0
2  Color         Sam Mendes  ...          2.35                 85000
3  Color  Christopher Nolan  ...          2.35                164000
4    NaN        Doug Walker  ...           NaN                     0

[5 rows x 28 columns]

In [89]:
#Accediendo a los componentes principales del DataFrame
columns=movies.columns #Accedo a las columnas
index=movies.index #Accedo a los indixes
data=movies.values #Accedo a la data

print("Columnas: \n \n",columns,"\n")
print("Indexes: \n \n",index,"\n")
print("Data: \n \n",data,"\n")

Columnas:

 Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

Indexes:

 RangeIndex(start=0, stop=4916, step=1)

Data:

 [['Color' 'James Cameron' 723.0 ... 7.9 1.78 33000]
 ['Color' 'Gore Verbinski' 302.0 ... 7.1 2.35 0]
 ['Color' 'Sam Mendes' 602.0 ... 6.8 2.35 85000]
 ...
 ['Color' 'Benjamin Roberds' 13.0 ... 6.3 nan 16]
 ['Color' 'Daniel Hsia' 14.0 ... 6.3 2.35 660]
 ['Color' 'Jon Gunn' 43.0 ... 6.6 1.85 456]]

In [29]:
#Ver tipo de datos con type
print("Tipo index \n \n",type(index))
print("Tipo Columnas \n \n",type(columns))
print("Tipo Data \n \n",type(data))

Tipo index

 <class 'pandas.core.indexes.range.RangeIndex'>
Tipo Columnas

 <class 'pandas.core.indexes.base.Index'>
Tipo Data

 <class 'numpy.ndarray'>

In [35]:
print("Valores del Index: \n \n",index.values,"\n con un total de ", len(index.values)," de tamaño \n")
print("Valores del Columns: \n \n",columns.values,"\n con un total de ", len(columns.values)," de tamaño \n")

Valores del Index:

 [   0    1    2 ... 4913 4914 4915]
 con un total de  4916  de tamaño

Valores del Columns:

 ['color' 'director_name' 'num_critic_for_reviews' 'duration'
 'director_facebook_likes' 'actor_3_facebook_likes' 'actor_2_name'
 'actor_1_facebook_likes' 'gross' 'genres' 'actor_1_name' 'movie_title'
 'num_voted_users' 'cast_total_facebook_likes' 'actor_3_name'
 'facenumber_in_poster' 'plot_keywords' 'movie_imdb_link'
 'num_user_for_reviews' 'language' 'country' 'content_rating' 'budget'
 'title_year' 'actor_2_facebook_likes' 'imdb_score' 'aspect_ratio'
 'movie_facebook_likes']
 con un total de  28  de tamaño

In [90]:
print(movies.dtypes,"\n") #Tipo de datos de todas las columnas
print(movies['director_name']) #Trae toda la columna 'director_name' la trae con los indexes
print(type(movie['director_name'])) #Ver tipo de la columna 'director_name'

color                    object
director_name            object
                         ...
aspect_ratio            float64
movie_facebook_likes      int64
Length: 28, dtype: object

0        James Cameron
1       Gore Verbinski
             ...
4914       Daniel Hsia
4915          Jon Gunn
Name: director_name, Length: 4916, dtype: object
<class 'pandas.core.series.Series'>

In [91]:
#Series como variable
director=movie['director_name'] #Guarda la serie 'director_name' en una variable 
print(director.name) #Obtiene el nombre de la columna
director.to_frame().head() #Lo convertimos en un dataframe, el .head() da una muestra

director_name

       director_name
0      James Cameron
1     Gore Verbinski
2         Sam Mendes
3  Christopher Nolan
4        Doug Walker

In [93]:
#Dir nos da todos los atributos y metodos de una serie
s_attr_methods=set(dir(pd.Series)) #Obtiene los atributos y métodos de la series                                   
df_attr_methods=set(dir(pd.DataFrame))#Obtiene los atributos y métodos de un dataFrame

print(len(s_attr_methods))#total de atributos y métodos Sereies
print(len(df_attr_methods)) #total de atributos y métodos DataFrame

print(len(s_attr_methods & df_attr_methods)) #Total de atributos y métodos de df_ y s_ (Intersección)

434
431
378

In [94]:
#Llamada a series y metodos
director=movies['director_name']
actor_1_fb_likes=movies['actor_1_facebook_likes']

print(director.head(),"\n")
print(actor_1_fb_likes.head(),"\n")

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
Name: director_name, dtype: object

0     1000.0
1    40000.0
2    11000.0
3    27000.0
4      131.0
Name: actor_1_facebook_likes, dtype: float64

In [73]:
pd.set_option('max_rows',8) #Para mostrar las 8 primeras filas
print(director.value_counts(),"\n") #Frecuencia de cada valor del director
print(actor_1_fb_likes.value_counts()) #Frecuencia de cada valor de actor_1_fb_likes

Steven Spielberg    26
Woody Allen         22
Martin Scorsese     20
Clint Eastwood      20
                    ..
Scott Alexander      1
Matt Walsh           1
Roger Christian      1
Herb Freed           1
Name: director_name, Length: 2397, dtype: int64

1000.0     436
11000.0    206
2000.0     189
3000.0     150
          ...
216.0        1
859.0        1
225.0        1
334.0        1
Name: actor_1_facebook_likes, Length: 877, dtype: int64

In [74]:
director.size #Tamaño de la columna director

4916

In [126]:
director.shape #Número de filas x columna

(4916,)

In [85]:
len(director) #Tamaño de la columna director

4916

In [86]:
director.count() #Retorna numero de valores "non-missing" de la columna director

4814

In [87]:
actor_1_fb_likes.count() #Retorna numero de valores "non-missing" de la columna actor_1...

4909

In [95]:
actor_1_fb_likes.quantile() #Representa el valor arrojado en un quantil

982.0

In [100]:
#Lo siguiente es con respecto a la columna 'actor_1_fb_likes'
#min el mínimo
#max el máximo 
#mean la media (promedio)
#median la mediana
#std  la desviación estandar
#sum la Sumatoria

#Tupla
actor_1_fb_likes.min(),actor_1_fb_likes.max(),\
actor_1_fb_likes.mean(),actor_1_fb_likes.median(),\
actor_1_fb_likes.std(),actor_1_fb_likes.sum()

(0.0, 640000.0, 6494.488490527602, 982.0, 15106.986883848185, 31881444.0)

In [102]:
actor_1_fb_likes.describe() #Resumen estadistico de 'actor_1_fb_likes'

count      4909.000000
mean       6494.488491
             ...
75%       11000.000000
max      640000.000000
Name: actor_1_facebook_likes, Length: 8, dtype: float64

In [103]:
director.describe() #Resumen estadistico de 'director'

count                 4814
unique                2397
top       Steven Spielberg
freq                    26
Name: director_name, dtype: object

Padas utiliza en series .describe() y dependiendo sí es un objeto, número etc saca una descripción breve, sí es número saca el min max .... sí es un string saca la frecuencia el top...

In [108]:
actor_1_fb_likes.quantile(.2) #Sacamos un quartil del 20%

510.0

In [109]:
actor_1_fb_likes.quantile([.1,.2,.3,.4,.5,.6,.7,.8,.9]) #Conjunto de quartiles 10%, 20% ... 90%

0.1      240.0
0.2      510.0
        ...
0.8    13000.0
0.9    18000.0
Name: actor_1_facebook_likes, Length: 9, dtype: float64

In [114]:
director.isnull() #True/False en la busqueda de los nulos de la serie 'director'

0       False
1       False
        ...
4914    False
4915    False
Name: director_name, Length: 4916, dtype: bool

In [122]:
actor_1_fb_likes_field=actor_1_fb_likes.fillna(0) #Llenamos los nulos(NaN) con valores 0 y lo asignamos a una nueva variable
print(actor_1_fb_likes.count())  #Sin fillna
print(actor_1_fb_likes_field.count()) #Con fillna

4909
4916

In [124]:
actor_1_fb_likes_dropped=actor_1_fb_likes.dropna() #Va a tener todos los valores que no son perdidos (NaN)   
actor_1_fb_likes_dropped.size

4909

In [128]:
director.value_counts() #Frecuencia (conteo)

Steven Spielberg    26
Woody Allen         22
                    ..
Roger Christian      1
Herb Freed           1
Name: director_name, Length: 2397, dtype: int64

In [129]:
director.value_counts(normalize=True) #Frecuencia porcentual (Normaliza la serie)

Steven Spielberg    0.005401
Woody Allen         0.004570
                      ...
Roger Christian     0.000208
Herb Freed          0.000208
Name: director_name, Length: 2397, dtype: float64

In [130]:
director.notnull() #Es el contrario de isNull

0       True
1       True
        ...
4914    True
4915    True
Name: director_name, Length: 4916, dtype: bool

In [132]:
director.hasnans #Retorna True por lo menos sí tiene un elemento nulo de lo contrario False

True

#Operadores sobre serie

In [139]:
movies=pd.read_csv('movie.csv')
imdb_score=movies['imdb_score']
imdb_score

0       7.9
1       7.1
2       6.8
       ...
4913    6.3
4914    6.3
4915    6.6
Name: imdb_score, Length: 4916, dtype: float64

In [141]:
imdb_score+1 #Se suma a cada valor de la columna 'imddb_score' por 1

0       8.9
1       8.1
2       7.8
       ...
4913    7.3
4914    7.3
4915    7.6
Name: imdb_score, Length: 4916, dtype: float64

In [143]:
imdb_score*2.5 #Multiplica  cada valor de la columna 'imdb_score' por 2.5

0       19.75
1       17.75
2       17.00
        ...
4913    15.75
4914    15.75
4915    16.50
Name: imdb_score, Length: 4916, dtype: float64

In [144]:
imdb_score // 7 #División redondeando cada elemento del cero más cercano por 7 en la columna 'imdb_score'

0       1.0
1       1.0
2       0.0
       ...
4913    0.0
4914    0.0
4915    0.0
Name: imdb_score, Length: 4916, dtype: float64

In [146]:
imdb_score>7 # es mayor a 7? true o false en todos los valores de la columna 'imdb_score'

0        True
1        True
2       False
        ...
4913    False
4914    False
4915    False
Name: imdb_score, Length: 4916, dtype: bool

In [149]:
director=movies['director_name']
director=='James Cameron' #En donde encuentre a 'James Cameron' será true en la fila o false

0        True
1       False
2       False
        ...
4913    False
4914    False
4915    False
Name: director_name, Length: 4916, dtype: bool

In [150]:
imdb_score.add(1) #Lo mismo que imdb_score+1

0       8.9
1       8.1
2       7.8
       ...
4913    7.3
4914    7.3
4915    7.6
Name: imdb_score, Length: 4916, dtype: float64

In [151]:
imdb_score.mul(2.5) #Lo mismo que imdb_score *2.5

0       19.75
1       17.75
2       17.00
        ...
4913    15.75
4914    15.75
4915    16.50
Name: imdb_score, Length: 4916, dtype: float64

In [152]:
imdb_score.floordiv(7) #Lo mismo que imdb_score // 7

0       1.0
1       1.0
2       0.0
       ...
4913    0.0
4914    0.0
4915    0.0
Name: imdb_score, Length: 4916, dtype: float64

In [153]:
imdb_score.gt(7) #Lo mismo que imdb_score > 7

0        True
1        True
2       False
        ...
4913    False
4914    False
4915    False
Name: imdb_score, Length: 4916, dtype: bool

director.eq('James Cameron') #Lo mismo que director == 'James Cameron'

In [157]:
imdb_score.astype(int).mod(5) #Convierte la columna en Entero y le saca el residuo dividiendo por 5

0       2
1       2
2       1
       ..
4913    1
4914    1
4915    1
Name: imdb_score, Length: 4916, dtype: int32

Encadenar metodos de la serie

In [160]:
director.value_counts().head(3) #Frecuencia y muestra los 3 primeros

Steven Spielberg    26
Woody Allen         22
Martin Scorsese     20
Name: director_name, dtype: int64

In [162]:
actor_1_fb_likes.isnull().sum() #Suma aquellos que son nulos en la columna

7

In [163]:
actor_1_fb_likes.dtype #Tipo de dato en la columna

dtype('float64')

In [165]:
actor_1_fb_likes.fillna(0).astype(int).head() #Reemplaza los valores Nan por cero y luego hace el Jutso de cambiaso jaajaja a int y muestra una cabezera

0     1000
1    40000
2    11000
3    27000
4      131
Name: actor_1_facebook_likes, dtype: int32

In [167]:
actor_1_fb_likes.isnull().mean() #Saca los nullos de la columna y luego le saca la media. Saca el valor que representa los nullos en la columna

0.0014239218877135883

In [170]:
movie2=movie.set_index('movie_title') #Como indixe dejo la columna 'movie_title'
movie2

,color,director_name,...,aspect_ratio,movie_facebook_likes
movie_title,,,,,
Avatar,Color,James Cameron,...,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,...,2.35,0
Spectre,Color,Sam Mendes,...,2.35,85000
...,...,...,...,...,...
A Plague So Pleasant,Color,Benjamin Roberds,...,NaN,16
Shanghai Calling,Color,Daniel Hsia,...,2.35,660
My Date with Drew,Color,Jon Gunn,...,1.85,456

In [171]:
movie2.reset_index() #Reseteo el indexe

,movie_title,color,...,aspect_ratio,movie_facebook_likes
0,Avatar,Color,...,1.78,33000
1,Pirates of the Caribbean: At World's End,Color,...,2.35,0
2,Spectre,Color,...,2.35,85000
...,...,...,...,...,...
4913,A Plague So Pleasant,Color,...,NaN,16
4914,Shanghai Calling,Color,...,2.35,660
4915,My Date with Drew,Color,...,1.85,456

In [172]:
#Cambiar algunas indixes y algunas columnas 
movie=pd.read_csv('movie.csv',index_col='movie_title')
idx_rename={'Avatar':'AVATARES','Spectre':'Espectro'}
col_rename={'director_name':'Nombre del Director',
           'num_critic_for_reviews':'Revisiones Críticas'}