Nombre:    Jhoan Sebastian Saavedra Romero 
cc:        1010238118
Materia:   Programación Cientifica IA
Docente:   John Corredor Franco

In [2]:
#Inportar las librerias
import pandas as pd
import numpy as np

In [9]:
#pd.set_option('max_colmns',n,'max_rows',m)
movies=pd.read_csv('movie.csv') #Leemos un archivo csv, se convierte en un dataFrame y se guarda en la vairable  movies
n=10;m=100
pd.set_option('max_columns',n,'max_rows',m) #máximo de columnas y filas a mostrar
movies.head() #Da una muestra del data frame m

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,...,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,...,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,...,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,...,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,...,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,...,NaN,12.0,7.1,NaN,0

In [70]:
#Accediendo a los componentes principales del DataFrame
columns=movies.columns #Accedo a las columnas
columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [71]:
index=movies.index #Accedo a los indixes
index

RangeIndex(start=0, stop=4916, step=1)

In [79]:
data=movies.values #Accedo a la data del data frame
data

array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
       ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
       ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
       ...,
       ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
       ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
       ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object)

In [74]:
#Ver tipo de datos con type
type(index)#Tipo de la columna index

pandas.core.indexes.range.RangeIndex

In [76]:
type(columns) #Tipo de dato de las columnas

pandas.core.indexes.base.Index

In [77]:
type(data) #Tipo de dato de la data

numpy.ndarray

In [91]:
index.values #Valores del index

array([   0,    1,    2, ..., 4913, 4914, 4915], dtype=int64)

In [92]:
len(index.values)  #Tamaño de valores del index

4916

In [93]:
columns.values #Valores de la columna

array(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes',
       'actor_2_name', 'actor_1_facebook_likes', 'gross', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users',
       'cast_total_facebook_likes', 'actor_3_name',
       'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
       'num_user_for_reviews', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score',
       'aspect_ratio', 'movie_facebook_likes'], dtype=object)

In [94]:
len(columns.values) #Tamaño de valores de la columna

28

In [80]:
movies.dtypes #Tipo de datos de todas las columnas

color                      object
director_name              object
num_critic_for_reviews    float64
duration                  float64
                           ...
actor_2_facebook_likes    float64
imdb_score                float64
aspect_ratio              float64
movie_facebook_likes        int64
Length: 28, dtype: object

In [81]:
movies['director_name'] #Trae toda la columna 'director_name' la trae con los indexes

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
              ...
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [82]:
type(movies['director_name']) #Ver tipo de la columna 'director_name'

pandas.core.series.Series

In [83]:
#Series como variable
director=movies['director_name'] #Guarda la serie 'director_name' en una variable

In [84]:
director.name #Obtiene el nombre de la serie

'director_name'

In [85]:
director.to_frame().head() #Lo convertimos en un dataframe, el .head() da una muestra

       director_name
0      James Cameron
1     Gore Verbinski
2         Sam Mendes
3  Christopher Nolan
4        Doug Walker

In [17]:
#Dir nos da todos los atributos y metodos de una serie
s_attr_methods=set(dir(pd.Series)) #Obtiene los atributos y métodos de la series                                   
df_attr_methods=set(dir(pd.DataFrame))#Obtiene los atributos y métodos de un dataFrame

print(len(s_attr_methods))#total de atributos y métodos de la serie
print(len(df_attr_methods)) #total de atributos y métodos del DataFrame

print(len(s_attr_methods & df_attr_methods)) #Total de atributos y métodos de df_ y s_ (Intersección)

434
431
378

In [86]:
#Llamada a series y metodos
director=movies['director_name']
actor_1_fb_likes=movies['actor_1_facebook_likes']

print(director.head(),"\n") #Una muetra de 'director_name'
print(actor_1_fb_likes.head(),"\n") #Una muestra e 'actor_1_facebook_likes'

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
Name: director_name, dtype: object

0     1000.0
1    40000.0
2    11000.0
3    27000.0
4      131.0
Name: actor_1_facebook_likes, dtype: float64

In [88]:
pd.set_option('max_rows',8) #Para mostrar las 8 primeras filas

In [89]:
director.value_counts() #Frecuencia de cada valor del director

Steven Spielberg    26
Woody Allen         22
Clint Eastwood      20
Martin Scorsese     20
                    ..
Hoyt Yeatman         1
Katie Aselton        1
Ivan Kavanagh        1
Niall Johnson        1
Name: director_name, Length: 2397, dtype: int64

In [90]:
actor_1_fb_likes.value_counts() #Frecuencia de cada valor de actor_1_fb_likes

1000.0     436
11000.0    206
2000.0     189
3000.0     150
          ...
216.0        1
859.0        1
225.0        1
334.0        1
Name: actor_1_facebook_likes, Length: 877, dtype: int64

In [20]:
director.size #Tamaño de la columna director

4916

In [21]:
director.shape #Número de filas x columna

(4916,)

In [22]:
len(director) #Tamaño de la columna director

4916

In [23]:
director.count() #Retorna numero de valores "non-missing" de la columna director

4814

In [24]:
actor_1_fb_likes.count() #Retorna numero de valores "non-missing" de la columna actor_1...

4909

In [25]:
actor_1_fb_likes.quantile() #Representa el valor arrojado en un quantil

982.0

In [26]:
#Lo siguiente es con respecto a la columna 'actor_1_fb_likes'
#min el mínimo
#max el máximo 
#mean la media (promedio)
#median la mediana
#std  la desviación estandar
#sum la Sumatoria

#Tupla
actor_1_fb_likes.min(),actor_1_fb_likes.max(),\
actor_1_fb_likes.mean(),actor_1_fb_likes.median(),\
actor_1_fb_likes.std(),actor_1_fb_likes.sum()

(0.0, 640000.0, 6494.488490527602, 982.0, 15106.986883848185, 31881444.0)

In [27]:
actor_1_fb_likes.describe() #Resumen estadistico de 'actor_1_fb_likes'

count      4909.000000
mean       6494.488491
std       15106.986884
min           0.000000
25%         607.000000
50%         982.000000
75%       11000.000000
max      640000.000000
Name: actor_1_facebook_likes, dtype: float64

In [28]:
director.describe() #Resumen estadistico de 'director'

count                 4814
unique                2397
top       Steven Spielberg
freq                    26
Name: director_name, dtype: object

Padas utiliza en series .describe() y dependiendo sí es un objeto, número etc saca una descripción breve, sí es número saca el min max .... sí es un string saca la frecuencia el top...

In [29]:
actor_1_fb_likes.quantile(.2) #Sacamos un quartil del 20%

510.0

In [30]:
actor_1_fb_likes.quantile([.1,.2,.3,.4,.5,.6,.7,.8,.9]) #Conjunto de quartiles 10%, 20% ... 90%

0.1      240.0
0.2      510.0
0.3      694.0
0.4      854.0
        ...
0.6     1000.0
0.7     8000.0
0.8    13000.0
0.9    18000.0
Name: actor_1_facebook_likes, Length: 9, dtype: float64

In [31]:
director.isnull() #True/False en la busqueda de los nulos de la serie 'director'

0       False
1       False
2       False
3       False
        ...
4912     True
4913    False
4914    False
4915    False
Name: director_name, Length: 4916, dtype: bool

In [32]:
actor_1_fb_likes_field=actor_1_fb_likes.fillna(0) #Llenamos los nulos(NaN) con valores 0 y lo asignamos a una nueva variable
print(actor_1_fb_likes.count())  #Sin fillna
print(actor_1_fb_likes_field.count()) #Con fillna

4909
4916

In [33]:
actor_1_fb_likes_dropped=actor_1_fb_likes.dropna() #Va a tener todos los valores que no son perdidos (NaN)   
actor_1_fb_likes_dropped.size

4909

In [34]:
director.value_counts() #Frecuencia (conteo)

Steven Spielberg    26
Woody Allen         22
Clint Eastwood      20
Martin Scorsese     20
                    ..
Hoyt Yeatman         1
Katie Aselton        1
Ivan Kavanagh        1
Niall Johnson        1
Name: director_name, Length: 2397, dtype: int64

In [35]:
director.value_counts(normalize=True) #Frecuencia porcentual (Normaliza la serie)

Steven Spielberg    0.005401
Woody Allen         0.004570
Clint Eastwood      0.004155
Martin Scorsese     0.004155
                      ...
Hoyt Yeatman        0.000208
Katie Aselton       0.000208
Ivan Kavanagh       0.000208
Niall Johnson       0.000208
Name: director_name, Length: 2397, dtype: float64

In [36]:
director.notnull() #Es el contrario de isNull

0        True
1        True
2        True
3        True
        ...
4912    False
4913     True
4914     True
4915     True
Name: director_name, Length: 4916, dtype: bool

In [37]:
director.hasnans #Retorna True por lo menos sí tiene un elemento nulo de lo contrario False

True

#Operadores sobre serie

In [38]:
movies=pd.read_csv('movie.csv')
imdb_score=movies['imdb_score']
imdb_score

0       7.9
1       7.1
2       6.8
3       8.5
       ...
4912    7.5
4913    6.3
4914    6.3
4915    6.6
Name: imdb_score, Length: 4916, dtype: float64

In [39]:
imdb_score+1 #Se suma a cada valor de la columna 'imddb_score' por 1

0       8.9
1       8.1
2       7.8
3       9.5
       ...
4912    8.5
4913    7.3
4914    7.3
4915    7.6
Name: imdb_score, Length: 4916, dtype: float64

In [40]:
imdb_score*2.5 #Multiplica  cada valor de la columna 'imdb_score' por 2.5

0       19.75
1       17.75
2       17.00
3       21.25
        ...
4912    18.75
4913    15.75
4914    15.75
4915    16.50
Name: imdb_score, Length: 4916, dtype: float64

In [41]:
imdb_score // 7 #División redondeando cada elemento del cero más cercano por 7 en la columna 'imdb_score'

0       1.0
1       1.0
2       0.0
3       1.0
       ...
4912    1.0
4913    0.0
4914    0.0
4915    0.0
Name: imdb_score, Length: 4916, dtype: float64

In [42]:
imdb_score>7 # es mayor a 7? true o false en todos los valores de la columna 'imdb_score'

0        True
1        True
2       False
3        True
        ...
4912     True
4913    False
4914    False
4915    False
Name: imdb_score, Length: 4916, dtype: bool

In [43]:
director=movies['director_name']
director=='James Cameron' #En donde encuentre a 'James Cameron' será true en la fila o false

0        True
1       False
2       False
3       False
        ...
4912    False
4913    False
4914    False
4915    False
Name: director_name, Length: 4916, dtype: bool

In [44]:
imdb_score.add(1) #Lo mismo que imdb_score+1

0       8.9
1       8.1
2       7.8
3       9.5
       ...
4912    8.5
4913    7.3
4914    7.3
4915    7.6
Name: imdb_score, Length: 4916, dtype: float64

In [45]:
imdb_score.mul(2.5) #Lo mismo que imdb_score *2.5

0       19.75
1       17.75
2       17.00
3       21.25
        ...
4912    18.75
4913    15.75
4914    15.75
4915    16.50
Name: imdb_score, Length: 4916, dtype: float64

In [46]:
imdb_score.floordiv(7) #Lo mismo que imdb_score // 7

0       1.0
1       1.0
2       0.0
3       1.0
       ...
4912    1.0
4913    0.0
4914    0.0
4915    0.0
Name: imdb_score, Length: 4916, dtype: float64

In [47]:
imdb_score.gt(7) #Lo mismo que imdb_score > 7

0        True
1        True
2       False
3        True
        ...
4912     True
4913    False
4914    False
4915    False
Name: imdb_score, Length: 4916, dtype: bool

In [48]:
director.eq('James Cameron') #Lo mismo que director == 'James Cameron'

0        True
1       False
2       False
3       False
        ...
4912    False
4913    False
4914    False
4915    False
Name: director_name, Length: 4916, dtype: bool

In [50]:
#Convierte la columna en Entero y le saca el residuo dividiendo por 5   
imdb_score.astype(int).mod(5)

0       2
1       2
2       1
3       3
       ..
4912    2
4913    1
4914    1
4915    1
Name: imdb_score, Length: 4916, dtype: int32

Encadenar metodos de la serie

In [160]:
director.value_counts().head(3) #Frecuencia y muestra los 3 primeros

Steven Spielberg    26
Woody Allen         22
Martin Scorsese     20
Name: director_name, dtype: int64

In [162]:
actor_1_fb_likes.isnull().sum() #Suma aquellos que son nulos en la columna

7

In [163]:
actor_1_fb_likes.dtype #Tipo de dato en la columna

dtype('float64')

In [52]:
#Reemplaza los valores Nan por cero y 
#luego hace el Jutso de cambiaso jaajaja a int y muestra una cabezera
actor_1_fb_likes.fillna(0).astype(int).head()

0     1000
1    40000
2    11000
3    27000
4      131
Name: actor_1_facebook_likes, dtype: int32

In [54]:
#Saca los nullos de la columna y luego le saca la media. Saca el valor que representa
# los nullos en la columna 
actor_1_fb_likes.isnull().mean()

0.0014239218877135883

In [56]:
movie2=movies.set_index('movie_title') #Como indixe dejo la columna 'movie_title'
movie2

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,...,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,...,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,...,2007.0,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,...,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,...,2012.0,23000.0,8.5,2.35,164000
...,...,...,...,...,...,...,...,...,...,...,...
The Following,Color,NaN,43.0,43.0,NaN,...,NaN,593.0,7.5,16.00,32000
A Plague So Pleasant,Color,Benjamin Roberds,13.0,76.0,0.0,...,2013.0,0.0,6.3,NaN,16
Shanghai Calling,Color,Daniel Hsia,14.0,100.0,0.0,...,2012.0,719.0,6.3,2.35,660
My Date with Drew,Color,Jon Gunn,43.0,90.0,16.0,...,2004.0,23.0,6.6,1.85,456

In [57]:
movie2.reset_index() #Reseteo del indexe, vuelve a su estado inicial

,movie_title,color,director_name,num_critic_for_reviews,duration,...,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Avatar,Color,James Cameron,723.0,178.0,...,2009.0,936.0,7.9,1.78,33000
1,Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,...,2007.0,5000.0,7.1,2.35,0
2,Spectre,Color,Sam Mendes,602.0,148.0,...,2015.0,393.0,6.8,2.35,85000
3,The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,...,2012.0,23000.0,8.5,2.35,164000
...,...,...,...,...,...,...,...,...,...,...,...
4912,The Following,Color,NaN,43.0,43.0,...,NaN,593.0,7.5,16.00,32000
4913,A Plague So Pleasant,Color,Benjamin Roberds,13.0,76.0,...,2013.0,0.0,6.3,NaN,16
4914,Shanghai Calling,Color,Daniel Hsia,14.0,100.0,...,2012.0,719.0,6.3,2.35,660
4915,My Date with Drew,Color,Jon Gunn,43.0,90.0,...,2004.0,23.0,6.6,1.85,456

In [3]:
#Cambiar algunas indixes y algunas columnas 
movie=pd.read_csv('movie.csv',index_col='movie_title') #Indicamos que los indixes será la columna 'movie_title'
idx_rename={'Avatar':'AVATARES','Spectre':'Espectro'} #Define los indexes a cambiar
col_rename={'director_name':'Nombre del Director',
           'num_critic_for_reviews':'Revisiones Críticas'} #Define las columnas a cambiar

#Método para cambiar los indexes y columnas
movie.rename(index=idx_rename,columns=col_rename).head()

,color,Nombre del Director,Revisiones Críticas,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
AVATARES,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Espectro,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

index_list=movie.index.tolist()
column_list=movie....tolist()

CREANDO Y BORRANDO COLUMNAS

In [4]:
movie=pd.read_csv('movie.csv')

In [7]:
movie['Pelis_Vistas']=0 #Añade una nueva columna

In [8]:
movie.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes', 'Pelis_Vistas'],
      dtype='object')

In [10]:
movie['FacebookLikesActorDirector']=(movie['actor_1_facebook_likes']+
                                   movie['actor_2_facebook_likes']+
                                   movie['actor_3_facebook_likes']+
                                   movie['director_facebook_likes'])

In [11]:
movie['FacebookLikesActorDirector'].isnull().sum()

122

In [ ]:
movie=movie.drop('FacebookLikesActorDirector',axix=column)